body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.Creative{
  color: midnightblue;
}
.left{
  float: left;
}
.card{
  width:45%;
}
.right{
  float:right;
}
.tile-image{
  float: left;
  height:200px;
  margin-right: 50px;
}
@media (max-width:680px){
  h1{
    text-align: center;
    font-size: 3.5rem;
  }
  .card{
    width: 100%;
    text-align: justify;
    display: block;
    margin-bottom: 30px;
  }
  .card img{
    margin-bottom: 10px;
    display: inline;
    width: 100%;
    object-fit: cover;
  }
}
